/* LG SMALL-LAPTOP:1024PX - 1280PX */

@media (max-width: 72rem){
/* 1024px / 16px */
html{
    font-size: 56.25%;
}
.grid-container{
    column-gap: 2rem;
}
.cta-section{
    margin-bottom: 20rem;
}
}
/*  MD TABLET:768PX - 1024PX */

@media (max-width: 54rem){
    /* 840px /16px */

    html{
    font-size: 50%;
}
}

/*  MD TABLET:576px-768PX  */

@media(max-width: 48rem){
    /* 685px / 16px */
    html{
        font-size: 43%;
    }
    .cta-card{
        padding: 8rem 16rem;
    }
    .features-section{
        margin-bottom: 20rem;
    }
    .grid-container{
        row-gap: 5rem;
        column-gap: 0.5rem;
    }
}

/*  XS PROTRIAT <576px  */

@media(max-width: 34rem){
    /* 530PX / 16PX */    /* 530PX / 16PX */

    html{
    font-size: 37%;
    }
    .break{
        display: none;
    }
    .hope-section{
        height: auto;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
    .features-img-swap{
        grid-row: auto;
        grid-column: auto;
    }
    .cta-card{
        padding: 8rem 6rem;
    }
}

